<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1 class="dropdown-toggle">Recipe Name <span class="caret"></span></h1>
    <ul class="dropdown-menu">
      <li><a href="#">Add to shopping list</a></li>
      <li><a href="#">Edit Recipe</a></li>
      <li><a href="#">Delete Recipe</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Recipe description</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Ingredients</p>
  </div>
</div>